---
interface Props {
  title: string
  body: string
}

const { title, body } = Astro.props
---

<nav>
  <a href="#">{title}{body}</a>
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
</nav>}
