---
import { css } from '../../styled-system/css'
import buttonStyles from '../styles/button.recipe'
const body = 'Click me'
export type ButtonProps = {
  body: string
}
---

<button
  type='button'
  style={buttonStyles({ bg: 'red.300', px: '2', py: '3' })}
>
  {body}
</button>

<button
  type='button'
  class={buttonStyles({ bg: 'red.300', px: '2', py: '3' })}
>
  {body}
</button>

<button
  type='button'
  class={css({ bg: 'red.300', px: '2', py: '3' })}
>
  {body}
</button>
